h1 {
    text-align: center;
    font-family: sans-serif;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #577fef;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color;
    margin-top: 20px;
    margin-bottom: 10px;
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

    button:hover {
        background-color: #3c5db9;
    }
